# Default ignored files
/shelf/
.gitignore
/Backtracking/*.class
/Basics/*.class
/Bit Manipulations/*.class
/Lambda Expressions/*.class
/Questions/*.class
/Recursion/*.class
/Searching/*.class
/Sorting/*.class
/Strings/*.class
/ProblemsAndAlgos/*.class
/StreamAPI/*.class
/Hashing/*.class
/Heap/*.class
/Priority Queue/*.class
/LinkedList/*.class
/Stack/*.class
/Queue/*.class
/Practise1/*.class
/.idea
/.vscode
/cmake-build-debug